layout {
    pane
    pane borderless=true size=1 {
        plugin location="file:/Users/akondratev/.config/zellij/plugins/zjstatus.wasm"{
            format_left  "{mode}#[bg=#504d42,fg=#a89770] 󰞷 {session} {tabs}"
            format_right "{datetime}"
            format_space "#[bg=#1b1b1b]"

            hide_frame_for_single_pane "true"

            mode_normal  "#[bg=#a89770,fg=#222222] {name} "
            mode_tmux    "#[bg=#ffc387] "

            tab_normal   "#[bg=#1b1b1b,fg=#a89770] {name} "
            tab_active   "#[bg=#222222,fg=#a89770] {name} "

            datetime        "#[fg=#6C7086,bold] {format} "
            datetime_format "%A, %d %b %Y %H:%M"
            datetime_timezone "Europe/Moscow"
    }
    }
}
